---
import AdminLayout from "../../../layouts/AdminLayout.astro";
import PathManager from "../../../components/dashboard/PathManager";
---

<AdminLayout title="Kelola Alur Belajar">
    <div class="mb-8">
        <h1 class="text-4xl font-black uppercase mb-2">Alur Terpandu</h1>
        <p class="text-zinc-600 font-mono">
            Rancang kurikulum terstruktur dan peta jalan pembelajaran.
        </p>
    </div>

    <PathManager client:load />
</AdminLayout>
